[submodule "roles/postfix"]
	path = roles/postfix
	url = https://github.com/geerlingguy/ansible-role-postfix.git
[submodule "roles/ansible-elasticsearch"]
	path = roles/ansible-elasticsearch
	url = https://github.com/Traackr/ansible-elasticsearch.git
