---

# Optional: Keys for accessing data from a previous instance on S3.
# classifier_data_access_key: ...
# classifier_data_secret_key: ...
# girder_data_access_key: ...
# girder_data_secret_key: ...

# Info for grits admin account that will be set up for the Girder database
girder_admin_email: example@example.com
girder_admin_password: ...

# API key from HealthMap, providing access to the past 2 years of data
healthmap_apikey: ...

# Optional: Bing translate account information, used to translate foreign language articles
# bing_translate_id: ...
# bing_translate_secret: ...

# SSH key for a GitHub user with access to the repositories that will be installed
git_key: ...

# Account that will be set up for flower
flower_user: ...
flower_password: ...

# API key that will be set up for the GRITS diagnostic API
grits_api_key: ...

# SSL certificates
apache_crt: |
  -----BEGIN CERTIFICATE-----
  ...
  -----END CERTIFICATE-----

apache_key: |
  -----BEGIN PRIVATE KEY-----
  ...
  -----END PRIVATE KEY-----
