aws_access_key = '{{ classifier_data_access_key | default("") }}'
aws_secret_key = '{{ classifier_data_secret_key | default("") }}'
BROKER_URL = '{{ celery_broker }}'
mongo_url = '{{ mongo_url }}'
bing_translate_id = '{{ bing_translate_id | default("") }}'
bing_translate_secret = '{{ bing_translate_secret | default("") }}'
api_key = '{{ grits_api_key }}'
