#!/bin/bash
(
    source $HOME/grits_config
    rm -r /tmp/girder-dump
    mkdir -p /tmp/girder-dump
    cd /tmp/girder-dump
    mongodump --db girder
    aws s3 cp --recursive dump s3://girder-data/$S3_DUMP_DIRECTORY
    echo "Girder to S3 dump completed on `date`"
) > "{{ cron_logs }}/dump_girder_to_s3_log" 2> "{{ cron_logs  }}/dump_girder_to_s3_err"
